<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,196}</string>
                <key>spriteSourceSize</key>
                <string>{143,196}</string>
                <key>textureRect</key>
                <string>{{0,0},{143,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,196}</string>
                <key>spriteSourceSize</key>
                <string>{143,196}</string>
                <key>textureRect</key>
                <string>{{0,196},{143,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,187}</string>
                <key>spriteSourceSize</key>
                <string>{143,187}</string>
                <key>textureRect</key>
                <string>{{0,392},{143,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_club.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,159}</string>
                <key>spriteSourceSize</key>
                <string>{150,159}</string>
                <key>textureRect</key>
                <string>{{0,579},{150,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,159}</string>
                <key>spriteSourceSize</key>
                <string>{150,159}</string>
                <key>textureRect</key>
                <string>{{0,738},{150,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,159}</string>
                <key>spriteSourceSize</key>
                <string>{150,159}</string>
                <key>textureRect</key>
                <string>{{0,897},{150,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_spade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,159}</string>
                <key>spriteSourceSize</key>
                <string>{150,159}</string>
                <key>textureRect</key>
                <string>{{0,1056},{150,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cards.png</string>
            <key>size</key>
            <string>{150,1215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d3055356ea6999ffa1d63a99e67e26b:e19c2b34250d316338fa286fe6daa333:2a5842ce307e3fecaaef70d013efbe66$</string>
            <key>textureFileName</key>
            <string>Cards.png</string>
        </dict>
    </dict>
</plist>
