<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shadow_of_select_history_tab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,46}</string>
                <key>spriteSourceSize</key>
                <string>{486,46}</string>
                <key>textureRect</key>
                <string>{{0,650},{486,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>framne.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,314}</string>
                <key>spriteSourceSize</key>
                <string>{495,314}</string>
                <key>textureRect</key>
                <string>{{0,784},{495,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,39}</string>
                <key>spriteSourceSize</key>
                <string>{489,39}</string>
                <key>textureRect</key>
                <string>{{0,745},{489,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,429}</string>
                <key>spriteSourceSize</key>
                <string>{325,429}</string>
                <key>textureRect</key>
                <string>{{131,0},{325,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimize_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{46,0},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-cards_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,20}</string>
                <key>spriteSourceSize</key>
                <string>{489,20}</string>
                <key>textureRect</key>
                <string>{{0,696},{489,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-cards_base_divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,20}</string>
                <key>spriteSourceSize</key>
                <string>{2,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{2,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{33,0},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,316}</string>
                <key>spriteSourceSize</key>
                <string>{13,316}</string>
                <key>textureRect</key>
                <string>{{20,0},{13,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{2,0},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{11,0},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upward_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,29}</string>
                <key>spriteSourceSize</key>
                <string>{489,29}</string>
                <key>textureRect</key>
                <string>{{0,716},{489,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watch_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{63,0},{68,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,221}</string>
                <key>spriteSourceSize</key>
                <string>{349,221}</string>
                <key>textureRect</key>
                <string>{{0,429},{349,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{495,1098}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f3ff1d1809f3c18f110a4fd72f0e389:709d12baaeef60fe7895d161e8a81773:593cab8d2a050374f0ff2769c430fb21$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
