<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,15}</string>
                <key>spriteSourceSize</key>
                <string>{36,15}</string>
                <key>textureRect</key>
                <string>{{710,0},{36,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,15}</string>
                <key>spriteSourceSize</key>
                <string>{36,15}</string>
                <key>textureRect</key>
                <string>{{782,0},{36,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,15}</string>
                <key>spriteSourceSize</key>
                <string>{36,15}</string>
                <key>textureRect</key>
                <string>{{746,0},{36,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cash_amount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,54}</string>
                <key>spriteSourceSize</key>
                <string>{294,54}</string>
                <key>textureRect</key>
                <string>{{294,52},{294,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cash_out_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,477}</string>
                <key>spriteSourceSize</key>
                <string>{1016,477}</string>
                <key>textureRect</key>
                <string>{{0,1266},{1016,477}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leave_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,75}</string>
                <key>spriteSourceSize</key>
                <string>{235,75}</string>
                <key>textureRect</key>
                <string>{{223,190},{235,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>My_profile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{1035,0},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Play_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,56}</string>
                <key>spriteSourceSize</key>
                <string>{82,56}</string>
                <key>textureRect</key>
                <string>{{670,52},{82,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Play_button_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,56}</string>
                <key>spriteSourceSize</key>
                <string>{82,56}</string>
                <key>textureRect</key>
                <string>{{588,52},{82,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,162}</string>
                <key>spriteSourceSize</key>
                <string>{157,162}</string>
                <key>textureRect</key>
                <string>{{1747,271},{157,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Retry_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,75}</string>
                <key>spriteSourceSize</key>
                <string>{235,75}</string>
                <key>textureRect</key>
                <string>{{458,190},{235,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Total_earning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{975,0},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add_chips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,82}</string>
                <key>spriteSourceSize</key>
                <string>{364,82}</string>
                <key>textureRect</key>
                <string>{{0,271},{364,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,65}</string>
                <key>spriteSourceSize</key>
                <string>{211,65}</string>
                <key>textureRect</key>
                <string>{{1824,52},{211,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,469}</string>
                <key>spriteSourceSize</key>
                <string>{612,469}</string>
                <key>textureRect</key>
                <string>{{601,796},{612,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,386}</string>
                <key>spriteSourceSize</key>
                <string>{601,386}</string>
                <key>textureRect</key>
                <string>{{0,796},{601,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_v.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,363}</string>
                <key>spriteSourceSize</key>
                <string>{538,363}</string>
                <key>textureRect</key>
                <string>{{1004,433},{538,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,75}</string>
                <key>spriteSourceSize</key>
                <string>{235,75}</string>
                <key>textureRect</key>
                <string>{{1203,190},{235,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>claim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,49}</string>
                <key>spriteSourceSize</key>
                <string>{128,49}</string>
                <key>textureRect</key>
                <string>{{1528,0},{128,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{364,271},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>custom_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,65}</string>
                <key>spriteSourceSize</key>
                <string>{211,65}</string>
                <key>textureRect</key>
                <string>{{0,117},{211,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dealer_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,38}</string>
                <key>textureRect</key>
                <string>{{1282,0},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{446,271},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>divider_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,69}</string>
                <key>spriteSourceSize</key>
                <string>{1016,69}</string>
                <key>textureRect</key>
                <string>{{211,117},{1016,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>division_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,7}</string>
                <key>spriteSourceSize</key>
                <string>{710,7}</string>
                <key>textureRect</key>
                <string>{{0,0},{710,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>downward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,24}</string>
                <key>textureRect</key>
                <string>{{925,0},{25,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forward_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{55,50}</string>
                <key>textureRect</key>
                <string>{{1656,0},{55,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{610,271},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,470}</string>
                <key>spriteSourceSize</key>
                <string>{474,470}</string>
                <key>textureRect</key>
                <string>{{1213,796},{474,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>log_out_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,75}</string>
                <key>spriteSourceSize</key>
                <string>{235,75}</string>
                <key>textureRect</key>
                <string>{{693,190},{235,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,75}</string>
                <key>spriteSourceSize</key>
                <string>{275,75}</string>
                <key>textureRect</key>
                <string>{{928,190},{275,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meter_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,19}</string>
                <key>spriteSourceSize</key>
                <string>{107,19}</string>
                <key>textureRect</key>
                <string>{{818,0},{107,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{914,52},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{1176,0},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{752,52},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>password.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,54}</string>
                <key>spriteSourceSize</key>
                <string>{294,54}</string>
                <key>textureRect</key>
                <string>{{0,52},{294,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{833,52},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_button_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{1286,52},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1055,100}</string>
                <key>spriteSourceSize</key>
                <string>{1055,100}</string>
                <key>textureRect</key>
                <string>{{692,271},{1055,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,33}</string>
                <key>spriteSourceSize</key>
                <string>{40,33}</string>
                <key>textureRect</key>
                <string>{{1065,0},{40,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>previous.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{1211,0},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>profile_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1004,205}</string>
                <key>spriteSourceSize</key>
                <string>{1004,205}</string>
                <key>textureRect</key>
                <string>{{0,433},{1004,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,52}</string>
                <key>spriteSourceSize</key>
                <string>{144,52}</string>
                <key>textureRect</key>
                <string>{{1754,0},{144,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,73}</string>
                <key>spriteSourceSize</key>
                <string>{239,73}</string>
                <key>textureRect</key>
                <string>{{1590,117},{239,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_cards.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{1490,0},{38,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,52}</string>
                <key>spriteSourceSize</key>
                <string>{43,52}</string>
                <key>textureRect</key>
                <string>{{1711,0},{43,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,608}</string>
                <key>spriteSourceSize</key>
                <string>{43,608}</string>
                <key>textureRect</key>
                <string>{{1016,1266},{43,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider_v.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{1105,0},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{1139,0},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{528,271},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stop_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,64}</string>
                <key>spriteSourceSize</key>
                <string>{83,64}</string>
                <key>textureRect</key>
                <string>{{1658,52},{83,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stop_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,64}</string>
                <key>spriteSourceSize</key>
                <string>{83,64}</string>
                <key>textureRect</key>
                <string>{{1741,52},{83,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>submit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,74}</string>
                <key>spriteSourceSize</key>
                <string>{223,74}</string>
                <key>textureRect</key>
                <string>{{0,190},{223,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_deselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,59}</string>
                <key>spriteSourceSize</key>
                <string>{291,59}</string>
                <key>textureRect</key>
                <string>{{1367,52},{291,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,59}</string>
                <key>spriteSourceSize</key>
                <string>{291,59}</string>
                <key>textureRect</key>
                <string>{{995,52},{291,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toggle_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,39}</string>
                <key>spriteSourceSize</key>
                <string>{87,39}</string>
                <key>textureRect</key>
                <string>{{1316,0},{87,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toggle_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,39}</string>
                <key>spriteSourceSize</key>
                <string>{87,39}</string>
                <key>textureRect</key>
                <string>{{1403,0},{87,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_transactions.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{1005,0},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,24}</string>
                <key>textureRect</key>
                <string>{{950,0},{25,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_stars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{1246,0},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>withdrawl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,81}</string>
                <key>spriteSourceSize</key>
                <string>{363,81}</string>
                <key>textureRect</key>
                <string>{{1438,190},{363,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>withdrawl_chips_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,72}</string>
                <key>spriteSourceSize</key>
                <string>{363,72}</string>
                <key>textureRect</key>
                <string>{{1227,117},{363,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Common2.png</string>
            <key>size</key>
            <string>{2035,1874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb205d12ab4d6407d6d9a689e6a70678:5d6bca69c06454cc96913cf8a5a6bfb0:a39b0ec4a66c3584a15b6c384317e242$</string>
            <key>textureFileName</key>
            <string>Common2.png</string>
        </dict>
    </dict>
</plist>
