<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Default_table_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,104}</string>
                <key>spriteSourceSize</key>
                <string>{350,104}</string>
                <key>textureRect</key>
                <string>{{1524,224},{350,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Join_and_open_table_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,58}</string>
                <key>spriteSourceSize</key>
                <string>{166,58}</string>
                <key>textureRect</key>
                <string>{{1142,92},{166,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Omaha_default_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,82}</string>
                <key>spriteSourceSize</key>
                <string>{385,82}</string>
                <key>textureRect</key>
                <string>{{274,224},{385,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Omaha_selected_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,82}</string>
                <key>spriteSourceSize</key>
                <string>{385,82}</string>
                <key>textureRect</key>
                <string>{{659,224},{385,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Omaha_selected_center_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,82}</string>
                <key>spriteSourceSize</key>
                <string>{385,82}</string>
                <key>textureRect</key>
                <string>{{1044,224},{385,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>On_table_player_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,580}</string>
                <key>spriteSourceSize</key>
                <string>{366,580}</string>
                <key>textureRect</key>
                <string>{{374,746},{366,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>On_table_player_data_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,501}</string>
                <key>spriteSourceSize</key>
                <string>{374,501}</string>
                <key>textureRect</key>
                <string>{{0,746},{374,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Players_count_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,40}</string>
                <key>spriteSourceSize</key>
                <string>{55,40}</string>
                <key>textureRect</key>
                <string>{{441,0},{55,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile_picture_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,103}</string>
                <key>spriteSourceSize</key>
                <string>{95,103}</string>
                <key>textureRect</key>
                <string>{{1429,224},{95,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Selected_table_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,105}</string>
                <key>spriteSourceSize</key>
                <string>{355,105}</string>
                <key>textureRect</key>
                <string>{{0,328},{355,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Table_Head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1142,47}</string>
                <key>spriteSourceSize</key>
                <string>{1142,47}</string>
                <key>textureRect</key>
                <string>{{0,92},{1142,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cashier_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,418}</string>
                <key>spriteSourceSize</key>
                <string>{364,418}</string>
                <key>textureRect</key>
                <string>{{1439,328},{364,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,37}</string>
                <key>spriteSourceSize</key>
                <string>{165,37}</string>
                <key>textureRect</key>
                <string>{{276,0},{165,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drop_down_bUTTON.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,33}</string>
                <key>textureRect</key>
                <string>{{173,0},{35,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fav_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{29,0},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{274,74}</string>
                <key>textureRect</key>
                <string>{{0,224},{274,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,74}</string>
                <key>spriteSourceSize</key>
                <string>{273,74}</string>
                <key>textureRect</key>
                <string>{{1506,150},{273,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hide_Fav_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{580,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hide_Fav_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{496,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{143,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locked_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{113,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loyality_bonnus_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{53,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_money_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{83,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>profile_base_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,158}</string>
                <key>spriteSourceSize</key>
                <string>{358,158}</string>
                <key>textureRect</key>
                <string>{{355,328},{358,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>profile_base_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,388}</string>
                <key>spriteSourceSize</key>
                <string>{366,388}</string>
                <key>textureRect</key>
                <string>{{1073,328},{366,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>profile_data-_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,227}</string>
                <key>spriteSourceSize</key>
                <string>{360,227}</string>
                <key>textureRect</key>
                <string>{{713,328},{360,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>real_money_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,21}</string>
                <key>spriteSourceSize</key>
                <string>{29,21}</string>
                <key>textureRect</key>
                <string>{{0,0},{29,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>real_play_money_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,71}</string>
                <key>spriteSourceSize</key>
                <string>{182,71}</string>
                <key>textureRect</key>
                <string>{{1142,150},{182,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>real_play_money_slected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,71}</string>
                <key>spriteSourceSize</key>
                <string>{182,71}</string>
                <key>textureRect</key>
                <string>{{1324,150},{182,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{242,0},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{208,0},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1144,745}</string>
                <key>spriteSourceSize</key>
                <string>{1144,745}</string>
                <key>textureRect</key>
                <string>{{740,746},{1144,745}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_strip_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1119,46}</string>
                <key>spriteSourceSize</key>
                <string>{1119,46}</string>
                <key>textureRect</key>
                <string>{{622,0},{1119,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_strip_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1119,46}</string>
                <key>spriteSourceSize</key>
                <string>{1119,46}</string>
                <key>textureRect</key>
                <string>{{0,46},{1119,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{538,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waiting_and_average_player_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1142,60}</string>
                <key>spriteSourceSize</key>
                <string>{1142,60}</string>
                <key>textureRect</key>
                <string>{{0,150},{1142,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Lobby.png</string>
            <key>size</key>
            <string>{1884,1491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:663c0023eb5b0710a66a6dfd9a7dbbdd:39e5fe770122d27c79397c3e295ec047:5604b31835c31f3132979f59e1ad1570$</string>
            <key>textureFileName</key>
            <string>Lobby.png</string>
        </dict>
    </dict>
</plist>
