<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,729},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,1458},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,1215},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,972},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,729},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,486},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,243},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,0},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1701},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1458},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1215},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,1458},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,972},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,1701},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,486},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,243},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,0},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1701},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>26.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1458},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>27.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1215},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>28.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,972},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>29.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,729},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,1215},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>30.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,486},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,243},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,0},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1701},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1458},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>35.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1215},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,972},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>37.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,729},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>38.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,486},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>39.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,243},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,972},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>40.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,729},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,486},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,243},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,0},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,1701},{410,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,242}}</string>
				<key>sourceSize</key>
				<string>{410,242}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2055,1944}</string>
			<key>textureFileName</key>
			<string>sprites2.png</string>
			</dict>
		</dict>
</plist>