<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pop_Up_base_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,222}</string>
                <key>spriteSourceSize</key>
                <string>{372,222}</string>
                <key>textureRect</key>
                <string>{{0,81},{372,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pop_Up_base_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,274}</string>
                <key>spriteSourceSize</key>
                <string>{382,274}</string>
                <key>textureRect</key>
                <string>{{0,303},{382,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>framne.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,314}</string>
                <key>spriteSourceSize</key>
                <string>{495,314}</string>
                <key>textureRect</key>
                <string>{{0,577},{495,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{31,0},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{193,0},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>video_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{112,0},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MCommon.png</string>
            <key>size</key>
            <string>{495,891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89f0f81bbf6a2dccfa625cbe8b4b76ea:336d331f86d445f64195347fe71c93eb:98db3b79e72667890297efb417e86f3c$</string>
            <key>textureFileName</key>
            <string>MCommon.png</string>
        </dict>
    </dict>
</plist>
