<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add_chips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{329,4},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{173,4},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Check_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,108}</string>
                <key>spriteSourceSize</key>
                <string>{393,108}</string>
                <key>textureRect</key>
                <string>{{551,116},{393,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hands_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{501,4},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Header_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,80}</string>
                <key>spriteSourceSize</key>
                <string>{960,80}</string>
                <key>textureRect</key>
                <string>{{4,244},{960,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{415,4},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Right_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{613,4},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>amount_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,38}</string>
                <key>spriteSourceSize</key>
                <string>{152,38}</string>
                <key>textureRect</key>
                <string>{{845,4},{152,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,540}</string>
                <key>spriteSourceSize</key>
                <string>{960,540}</string>
                <key>textureRect</key>
                <string>{{4,329},{960,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leave_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{243,4},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftt_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{729,4},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maximize_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{83,4},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>min_max_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,73}</string>
                <key>spriteSourceSize</key>
                <string>{212,73}</string>
                <key>textureRect</key>
                <string>{{4,116},{212,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimize_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{128,4},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sit_in_sit_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,123}</string>
                <key>spriteSourceSize</key>
                <string>{325,123}</string>
                <key>textureRect</key>
                <string>{{221,116},{325,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,55}</string>
                <key>spriteSourceSize</key>
                <string>{32,55}</string>
                <key>textureRect</key>
                <string>{{4,4},{32,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{41,4},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MGameplay3.png</string>
            <key>size</key>
            <string>{1001,873}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7aff9b1df9fc2a73ef0f2c1e138dbdf6:4e5201e015e01cb005992697c286df85:ec67b4bf29b3fc875d34b3c1f8e85809$</string>
            <key>textureFileName</key>
            <string>MGameplay3.png</string>
        </dict>
    </dict>
</plist>
