<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Default-table_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,93}</string>
                <key>spriteSourceSize</key>
                <string>{339,93}</string>
                <key>textureRect</key>
                <string>{{0,356},{339,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Join_and_open_table_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,26}</string>
                <key>spriteSourceSize</key>
                <string>{81,26}</string>
                <key>textureRect</key>
                <string>{{342,0},{81,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Profile_picture_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,97}</string>
                <key>spriteSourceSize</key>
                <string>{95,97}</string>
                <key>textureRect</key>
                <string>{{92,50},{95,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Selected_table_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,48}</string>
                <key>spriteSourceSize</key>
                <string>{173,48}</string>
                <key>textureRect</key>
                <string>{{0,147},{173,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cashier_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,209}</string>
                <key>spriteSourceSize</key>
                <string>{182,209}</string>
                <key>textureRect</key>
                <string>{{173,147},{182,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>filter_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{250,0},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>filter_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{124,0},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hide_Fav_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{50,0},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hide_Fav_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{87,0},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{208,0},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{166,0},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,51}</string>
                <key>spriteSourceSize</key>
                <string>{341,51}</string>
                <key>textureRect</key>
                <string>{{0,449},{341,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{14,0},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{0,50},{92,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{31,0},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,60}</string>
                <key>spriteSourceSize</key>
                <string>{164,60}</string>
                <key>textureRect</key>
                <string>{{187,50},{164,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{292,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MLobby.png</string>
            <key>size</key>
            <string>{423,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0abe229e77eb77c5d77973b1f7402865:33aea530558489bd4f7caeb2e81b6006:30ee0ffb7a1ad1195e08e4622a29adf5$</string>
            <key>textureFileName</key>
            <string>MLobby.png</string>
        </dict>
    </dict>
</plist>
