<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Queen_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{1287,0},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Queen_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{1430,0},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Queen_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{1573,0},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jack_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{0,0},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jack_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{143,0},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jack_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{286,0},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jack_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{429,0},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>king_balck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{572,0},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>king_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{715,0},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>king_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{858,0},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>king_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{1001,0},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>queen_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{1144,0},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FaceCards.png</string>
            <key>size</key>
            <string>{1716,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c174bd51768998daee2a6f6e85b6870:4c3ada15eb195b01d874c679427b6479:4240a3e5917c9dc7c52da3d4f0af8b91$</string>
            <key>textureFileName</key>
            <string>FaceCards.png</string>
        </dict>
    </dict>
</plist>
