<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{4,551},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Header_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,80}</string>
                <key>spriteSourceSize</key>
                <string>{960,80}</string>
                <key>textureRect</key>
                <string>{{4,154},{960,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_info_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,88}</string>
                <key>spriteSourceSize</key>
                <string>{270,88}</string>
                <key>textureRect</key>
                <string>{{556,330},{270,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_info_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,88}</string>
                <key>spriteSourceSize</key>
                <string>{270,88}</string>
                <key>textureRect</key>
                <string>{{280,330},{270,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Players_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,38}</string>
                <key>spriteSourceSize</key>
                <string>{67,38}</string>
                <key>textureRect</key>
                <string>{{242,4},{67,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,89}</string>
                <key>spriteSourceSize</key>
                <string>{249,89}</string>
                <key>textureRect</key>
                <string>{{4,424},{249,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,78}</string>
                <key>spriteSourceSize</key>
                <string>{77,78}</string>
                <key>textureRect</key>
                <string>{{436,69},{77,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>current_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,75}</string>
                <key>spriteSourceSize</key>
                <string>{182,75}</string>
                <key>textureRect</key>
                <string>{{165,69},{182,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dealer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,44}</string>
                <key>spriteSourceSize</key>
                <string>{41,44}</string>
                <key>textureRect</key>
                <string>{{852,4},{41,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty_seat_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{899,4},{53,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extra_time_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,30}</string>
                <key>spriteSourceSize</key>
                <string>{120,30}</string>
                <key>textureRect</key>
                <string>{{75,4},{120,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fold_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,81}</string>
                <key>spriteSourceSize</key>
                <string>{204,81}</string>
                <key>textureRect</key>
                <string>{{174,240},{204,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,84}</string>
                <key>spriteSourceSize</key>
                <string>{187,84}</string>
                <key>textureRect</key>
                <string>{{577,240},{187,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gray_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,88}</string>
                <key>spriteSourceSize</key>
                <string>{270,88}</string>
                <key>textureRect</key>
                <string>{{4,330},{270,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gray_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,78}</string>
                <key>spriteSourceSize</key>
                <string>{77,78}</string>
                <key>textureRect</key>
                <string>{{353,69},{77,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>note.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,121}</string>
                <key>spriteSourceSize</key>
                <string>{249,121}</string>
                <key>textureRect</key>
                <string>{{534,424},{249,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>note_Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,93}</string>
                <key>spriteSourceSize</key>
                <string>{269,93}</string>
                <key>textureRect</key>
                <string>{{259,424},{269,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>note_tab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,37}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{201,4},{35,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pairing_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,39}</string>
                <key>spriteSourceSize</key>
                <string>{474,39}</string>
                <key>textureRect</key>
                <string>{{372,4},{474,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_division_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,1}</string>
                <key>spriteSourceSize</key>
                <string>{65,1}</string>
                <key>textureRect</key>
                <string>{{4,4},{65,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sit_here_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,38}</string>
                <key>spriteSourceSize</key>
                <string>{51,38}</string>
                <key>textureRect</key>
                <string>{{315,4},{51,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stroke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,84}</string>
                <key>spriteSourceSize</key>
                <string>{187,84}</string>
                <key>textureRect</key>
                <string>{{384,240},{187,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_info_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,79}</string>
                <key>spriteSourceSize</key>
                <string>{192,79}</string>
                <key>textureRect</key>
                <string>{{519,69},{192,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_info_base_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,79}</string>
                <key>spriteSourceSize</key>
                <string>{192,79}</string>
                <key>textureRect</key>
                <string>{{717,69},{192,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer_selector.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{4,240},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer_selector_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{89,240},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winner_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,62}</string>
                <key>spriteSourceSize</key>
                <string>{155,62}</string>
                <key>textureRect</key>
                <string>{{4,69},{155,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MGameplay4.png</string>
            <key>size</key>
            <string>{968,1155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8fb08e3b576d4b710350a1eb45aaae9:f548c6a868a074e4b02fcdc4ca87cd90:1851e0d2822d3c999196d2255921d4aa$</string>
            <key>textureFileName</key>
            <string>MGameplay4.png</string>
        </dict>
    </dict>
</plist>
