<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{23,28}</string>
                <key>textureRect</key>
                <string>{{0,46},{23,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,86}</string>
                <key>spriteSourceSize</key>
                <string>{60,86}</string>
                <key>textureRect</key>
                <string>{{777,46},{60,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leave_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,39}</string>
                <key>spriteSourceSize</key>
                <string>{43,39}</string>
                <key>textureRect</key>
                <string>{{431,46},{43,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Right_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,69}</string>
                <key>spriteSourceSize</key>
                <string>{74,69}</string>
                <key>textureRect</key>
                <string>{{629,46},{74,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run_it_twice_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,242}</string>
                <key>spriteSourceSize</key>
                <string>{284,242}</string>
                <key>textureRect</key>
                <string>{{0,132},{284,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{519,46},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add_chips_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,51}</string>
                <key>textureRect</key>
                <string>{{569,46},{60,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>amount_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,19}</string>
                <key>spriteSourceSize</key>
                <string>{76,19}</string>
                <key>textureRect</key>
                <string>{{628,0},{76,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_base_divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,2}</string>
                <key>spriteSourceSize</key>
                <string>{371,2}</string>
                <key>textureRect</key>
                <string>{{0,0},{371,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_cancel_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,37}</string>
                <key>spriteSourceSize</key>
                <string>{120,37}</string>
                <key>textureRect</key>
                <string>{{311,46},{120,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_confirm_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,37}</string>
                <key>spriteSourceSize</key>
                <string>{120,37}</string>
                <key>textureRect</key>
                <string>{{191,46},{120,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_filler.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,6}</string>
                <key>spriteSourceSize</key>
                <string>{22,6}</string>
                <key>textureRect</key>
                <string>{{371,0},{22,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_filler_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{393,0},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_maximize_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{724,0},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_minimize_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{704,0},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_slider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{860,20},{23,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_box_activated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,25}</string>
                <key>spriteSourceSize</key>
                <string>{65,25}</string>
                <key>textureRect</key>
                <string>{{730,20},{65,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_box_in_activated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,26}</string>
                <key>spriteSourceSize</key>
                <string>{65,26}</string>
                <key>textureRect</key>
                <string>{{795,20},{65,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,24}</string>
                <key>spriteSourceSize</key>
                <string>{92,24}</string>
                <key>textureRect</key>
                <string>{{265,20},{92,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checker_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{23,46},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checker_box_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{58,46},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fold_raise_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,37}</string>
                <key>spriteSourceSize</key>
                <string>{97,37}</string>
                <key>textureRect</key>
                <string>{{94,46},{97,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,342}</string>
                <key>spriteSourceSize</key>
                <string>{611,342}</string>
                <key>textureRect</key>
                <string>{{284,132},{611,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftt_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,69}</string>
                <key>spriteSourceSize</key>
                <string>{74,69}</string>
                <key>textureRect</key>
                <string>{{703,46},{74,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,43}</string>
                <key>textureRect</key>
                <string>{{474,46},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>marker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,19}</string>
                <key>spriteSourceSize</key>
                <string>{12,19}</string>
                <key>textureRect</key>
                <string>{{616,0},{12,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>max_min_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,25}</string>
                <key>spriteSourceSize</key>
                <string>{72,25}</string>
                <key>textureRect</key>
                <string>{{658,20},{72,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pairing_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,20}</string>
                <key>spriteSourceSize</key>
                <string>{237,20}</string>
                <key>textureRect</key>
                <string>{{0,20},{237,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,19}</string>
                <key>textureRect</key>
                <string>{{567,0},{49,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,7}</string>
                <key>spriteSourceSize</key>
                <string>{148,7}</string>
                <key>textureRect</key>
                <string>{{419,0},{148,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,25}</string>
                <key>spriteSourceSize</key>
                <string>{301,25}</string>
                <key>textureRect</key>
                <string>{{357,20},{301,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tick_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{237,20},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MGameplay.png</string>
            <key>size</key>
            <string>{895,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c5f6b5f76118e389c365ce312485998:503bd94fb99b312a32f4579bd9ecaaf3:d5aac516ee2a447766febcf16a7159e3$</string>
            <key>textureFileName</key>
            <string>MGameplay.png</string>
        </dict>
    </dict>
</plist>
