<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Downward_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{94,0},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Omaha_default_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,35}</string>
                <key>spriteSourceSize</key>
                <string>{189,35}</string>
                <key>textureRect</key>
                <string>{{0,138},{189,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,19}</string>
                <key>spriteSourceSize</key>
                <string>{15,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,83}</string>
                <key>spriteSourceSize</key>
                <string>{25,83}</string>
                <key>textureRect</key>
                <string>{{15,0},{25,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,138}</string>
                <key>spriteSourceSize</key>
                <string>{27,138}</string>
                <key>textureRect</key>
                <string>{{40,0},{27,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upward_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{67,0},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{121,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MLobby2.png</string>
            <key>size</key>
            <string>{189,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5a2d91fc938d8cb14eaedd251c0bc53:199426655223d34fbfbcd0c1c4df7669:dfe83bed7bf4de3aebb03a47da792104$</string>
            <key>textureFileName</key>
            <string>MLobby2.png</string>
        </dict>
    </dict>
</plist>
