<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,38}</string>
                <key>spriteSourceSize</key>
                <string>{157,38}</string>
                <key>textureRect</key>
                <string>{{280,0},{157,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{854,480}</string>
                <key>spriteSourceSize</key>
                <string>{854,480}</string>
                <key>textureRect</key>
                <string>{{0,303},{854,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{753,75}</string>
                <key>spriteSourceSize</key>
                <string>{753,75}</string>
                <key>textureRect</key>
                <string>{{0,228},{753,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,228}</string>
                <key>spriteSourceSize</key>
                <string>{241,228}</string>
                <key>textureRect</key>
                <string>{{594,0},{241,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,29}</string>
                <key>spriteSourceSize</key>
                <string>{39,29}</string>
                <key>textureRect</key>
                <string>{{98,0},{39,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobile_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{30,0},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>otp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,47}</string>
                <key>spriteSourceSize</key>
                <string>{143,47}</string>
                <key>textureRect</key>
                <string>{{137,0},{143,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>password.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>profile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{60,0},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,38}</string>
                <key>spriteSourceSize</key>
                <string>{157,38}</string>
                <key>textureRect</key>
                <string>{{437,0},{157,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MLogin.png</string>
            <key>size</key>
            <string>{854,783}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7432c1d8f1eff833d6b1a67a17dfabef:295361937b896d7f5e15519ac5bc089c:bc51e809247859102247a171c2fa612d$</string>
            <key>textureFileName</key>
            <string>MLogin.png</string>
        </dict>
    </dict>
</plist>
